<launch>

    <arg name="tf_prefix" value="robot3" />
    <arg name="camera" value="camera" />

    <include file="$(find robot_io)/launch/camera.launch">
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
        <arg name="camera" value="$(arg camera)" />
    </include>

    <node pkg="clams_depth" type="clams_depth_node" name="clams_depth_node" output="screen" launch-prefix="gdb --args">
        <remap from="image_in" to="depth_registered/image_raw" />
        <remap from="image_out" to="depth_registered/clams/image_raw" />
        <param name="model" value="/home/odroid/Documents/RTAB-Map/distortion_model.txt" />
    </node>

</launch>
